<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<h1>página person</h1>
<ul>
    {% for person in persons %}
    <li>
        <b>Usuário:</b> <a href="{% url 'persons_update' person.id %}" target="_parent"> {{ person.first_name }} </a>
        <b>Usuário:</b> <a href="{% url 'persons_delete' person.id %}" target="_parent"> DELETAR </a>
        - <b>Foto:</b> <a href="/media/{{ person.photo }}"> {{ person.photo }} </a>
    </li>
    {% endfor %}
</ul>

<a href="{% url 'persons_new' %}" target="_parent" target="_parent" >Novo</a>

</body>
</html>
