<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

    {% autoescape off %}
        <script type="text/javascript">{{ msg }}</script>
    {% endautoescape %}

<body>
<h1>Deseja excluir o registro?</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id">Id:</label>
        <input type="text" name="id" readonly="readonly" value="{{person.id}}" />
        <button type="submit">Excluir</button>
    </form>

</body>
</html>
